@import 'components/_mixins';
@import 'components/_animations';


// standardization and typography

html {
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: $body-font-face;

    margin: 0;
    width: 100%;
}

.fixed {
    overflow-y: scroll;
}

.fixed-body {
    overflow: hidden;
}

.title {
    font-family: $title-font-face;
    font-size: $title-font-size; // 36px
}

.subtitle {
    font-style: italic;
    font-family: $subtitle-font-face;
    font-size: $subtitle-font-size; // 16px
    font-weight: lighter;
}

.flex-wrap {
    flex-wrap: wrap;
}

$flex-direction-list: (row, row-reverse, column, column-reverse);
@each $value in $flex-direction-list {
    .flex-#{$value} {
        display: flex;
        flex-direction: $value;
    }
}

$justify-content-list: (center, start, end, flex-start, flex-end, left, right, normal, space-between, space-around, space-evenly, stretch);
@each $value in $justify-content-list {
    .justify-content-#{$value} {
        justify-content: $value;
    }
}

$align-items-list: (normal, stretch, center, start, end, flex-start, flex-end, baseline);
@each $value in $align-items-list {
    .align-items-#{$value} {
        align-items: $value;
    }
}

// styles

#github-link {
    position: absolute;
    top: 0;
    left: .25em;
    font-size: 2em;
}

$loading: (loading, loading-more);
@each $value in $loading {
    .#{$value} {
        font-size: 3em;
        padding-top: 2em;

        @if $value == loading-more {
            margin: auto;
        }
    }
}

.container {
    margin: auto;
    padding: 1em 2em 0;

    @include tablet {
        padding: 1em 0 0;
        width: $list-width-md;
    }

    @include laptop {
        max-width: $list-width-lg;
    }
}

#sort-control-box {
    width: 100%;
    margin-top: 3em;

    #text-search {
        font-family: $text-input-font-face;
        flex-grow: 1;
        margin-right: .5em;
        outline: none;
        border: $search-border-thickness solid $search-border-color;
        border-radius: $search-border-radius;
        padding: .5em;
        @include transition(border-color $search-border-click-timing $search-border-click-function);

        &:focus {
            border-color: $search-border-click-color;
        }
    }

    #reset {
        border: $reset-border-thickness solid $reset-border-color;
        border-radius: $reset-border-radius;
        padding: .5em;
        background-color: $reset-background-color;
        @include transition(background-color $reset-background-hover-timing $reset-background-hover-function, border-color $reset-border-click-timing $reset-border-click-function);

        @include hover {
            &:hover {
                background-color: $reset-background-color-hover;
                cursor: pointer;
            }
        }
        

        &:active {
            border-color: $reset-border-click-color;
        }
    }
}

#todo-list-container {
    width: 100%;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            @include flex-container(row, start, center);

            &:not(:last-child) {
                padding-bottom: .5em;
            }

            .task-title-container:not(.sort-control) {
                padding-left: .25em;
                flex: 1;
            }
        }
    }
}

.task-checkbox-container.sort-control {
    width: calc($list-checkbox-column-width + 2px); // offset border width for more perfect center
}

.task-title-container.sort-control {
    width: 100%;
}

.sort-control {
    text-align: center; 
    cursor: pointer;
    @include transition(background-color $sort-arrow-hover-timing $sort-arrow-hover-function);

    svg {
        @include transition(transform $sort-arrow-timing $sort-arrow-function);
    }
    @include hover {
        &:hover {
            background-color: $list-sort-hover-color;
        }
    }
}

.list-item {
    @include transition(background-color $list-hover-timing $list-hover-function);
    // @include transition(color $list-hover-timing $list-hover-function);
    border-radius: 4px;

    div:first-child {
        width: $list-checkbox-column-width;
        // display: flex;
        position: relative;
        text-align: center;
    }

    input[type="checkbox"] {
        height: $checkbox-size;
        width: $checkbox-size;
        margin-left: auto;
        margin-right: auto;
        border: $checkbox-border-thickness solid $checkbox-border-color;
        border-radius: $checkbox-border-radius;
        background-color: $checkbox-unchecked-color;
        @include appearance(none);
        @include transition(background-color, $checkbox-click-timing, $checkbox-click-function);

        &:checked {
            background-color: $checkbox-checked-color;
        }

        @include hover {
            &:hover {
                cursor: pointer;
            }
        }
    }

    @include hover {
        &:hover {
            background-color: $list-hover-color;
            // color: $list-hover-color;
            cursor: pointer;
        }
    }
}

.Modal {
    position: absolute;
    top: 40px;
    left: 2em;
    right: 2em;
    margin: auto;
    padding: 1em;
    background-color: $modal-color;
    border-radius: $modal-border-radius;
    
    @include tablet {
        width: $list-width-md;
        left: 0;
        right: 0;
    }

    @include laptop {
        width: $list-width-lg;
    }

    p {
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}

.Modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-color;
}

.mobile-list-bg {
    background: $mobile-list-background;
}

.matched-text {
    background-color: $app-background;
    color: $blue;
    font-weight: bold;
    @include transition(color, 1s, ease);
}

.no-results {
    h3 {
        text-align: center;
        font-family: $no-results-font-face;
        font-weight: $no-results-font-weight;
        color: $no-results-color;
    }
}

.finished-scrolling {
    h3 {
        text-align: center;
        font-family: $finished-scrolling-font-face;
        font-weight: $finished-scrolling-font-weight;
    }
}